.Phonebook {
  margin: 15px auto;
  padding: 5px;
  width: 600px;
  border-radius: 5px;
  background-color: rgba(34, 34, 34, 0.85);
}

.Phonebook_title {
  color: pink;
  font-size: 28px;
  margin-left: 15px;
}
