.PhoneList {
  padding: 10px;
}

.PhoneList > p {
  color: #c9cccf;
  margin-left: 10px;
}

.PhoneList_item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 7px;
  border-radius: 7px;
  color: #e0ef8d;
  box-shadow: 2px 4px 4px 2px rgb(0 0 0/0.5);
  background-color: #535151;
}

.PhoneList_item > span {
  color: #fce5eb;
}

.Button {
  border: none;
  padding: 5px 7px;
  background-color: #531212;
  color: white;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 2px 2px 0 rgb(0 0 0/0.5);
  transition: box-shadow 250ms linear;
}
